<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.wisdom.mapper.ActivityMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wjy.wisdom.entity.Activity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="activityDate" property="activityDate" />
        <result column="place" property="place" />
        <result column="theme" property="theme" />
        <result column="content" property="content" />
    </resultMap>

    <select id="selectPageWith" resultMap="BaseResultMap">
        select id,name,activityDate, place,theme,content from activity
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
