<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.wisdom.mapper.LeagueMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wjy.wisdom.entity.League">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="idNumber" property="idNumber" />
        <result column="national" property="national" />
        <result column="politicalLandscape" property="politicalLandscape" />
        <result column="education" property="education" />
        <result column="phone" property="phone" />
        <result column="leagueTime" property="leagueTime" />
        <result column="applyDate" property="applyDate"></result>
        <result column="qq" property="qq" />
        <result column="tuanGan" property="tuanGan" />
        <result column="tuanGanXZ" property="tuanGanXZ"></result>
        <result column="position" property="position" />
        <result column="partyMember" property="partyMember" />
        <result column="is_admin" property="isAdmin"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <select id="selectWithLeague" resultMap="BaseResultMap">
        SELECT * FROM league a
        <where>
            ${ew.sqlSegment}
        </where>
    </select>


</mapper>
